/*Everyone loves css :)perhaps but dabian is better than CSS*/
/*Debian is an os. Relevance?*/
html, body {
    background-color: #dbf0ff;
    color: #012138;
    font-family: "Raleway", "Avenir Next", "Avenir", sans-serif;
}