<!DOCTYPE html>
<html>
<head>
<%include partials/links%>
</head>
<body>
    <div class="navbar">
        <h1>Infocomm Smart Classroom</h1>
    </div>
    <div class="nav-displace"></div>
    <h1>Homework:</h1>
</body>
</html>
