<!DOCTYPE html>
<html>
<head>
<%include partials/links%>
</head>
<body style="background-color:#3a4860;">
    <%include partials/navbar%>
    <div class="content" style="text-align: left">
    <h1 class="login-h1">Classroom</h1>
    <button class="login-btn">Login</button>
    </div>
</body>
<script>
function login(){
    console.log("login");
    $.ajax({
        type:"POST",
        url:"/login",
        error:function(){alert(":(")},
        success:function(){window.location.href="/"}
    });
    console.log("agh")
}
$(".login-btn").click(login)
</script>
</html>
